<%- include('partials/header') -%>
<div class="main">
    <h1>Welcome to our page</h1>
    <h3>Would you like to Login or Register</h3>
    <button class="btn-login"> <a href="/auth/login" >Login</a></button>
    <button class="btn-register"> <a href="/auth/register" >Register</a></button>
</div>

<%- include('partials/footer') -%>